<h1> Restaurants List</h1>
<ul>
  <% @restaurants.each do |restaurant|%>
  <li><h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3></li>
  <hr>
  <% end %>
</ul>

<%= link_to "+ Add a new restaurant", new_restaurant_path %>

